<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arenashop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name%>">
    <%#= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
      
      <div class="container">
        <div class="row-main">
          <div class="col-md-10 col-md-offset-1">
            <div class="flash"><%#= bootstrap_flash %></div>
                <p class="notice"><%#= notice %></p>
                <p class="alert"><%#= alert %></p>
          </div>  
          <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
          
          <%= yield %>
          
        </div><!--/row-->
      </div> <!-- /container -->
  </body>
</html>

